{% extends "base.html" %} {% block title %}Wallet{% endblock %}

{% block content %}
<div class="div-wallet">
	<div class="top-name">
		<div class="wallet-name">Re=Bel</div>
	</div>

	<div class="core-wallet">
		<div class="wallet-graph">
			<div class="top-wallet-value">
				<div class="wallet-value">659,48 €</div>
				<div class="wallet-value-indicator">
					<div class="wallet-value-indicator-pourcentage">9,39 %</div>	
					
				</div>
			</div>
			<div class="top-wallet-date">27 nov., 18:00:00 UTC+1 · EUR</div>	
		</div>
		<div class="wallet-perf">
			<div class="wallet-perf-div">
				<div class="wallet-perf-div-title">Performances</div>
					<div class="wallet-perf-div-indicator">
						<div class="wallet-perf-div-indicator-left">
							<div class="wallet-perf-div-indicator-left-title">GAIN DU JOUR</div>
								<div class="wallet-perf-div-indicator-div">
									<div class="wallet-perf-div-indicator-left-indicator-e">+1,23 €</div>
									<div class="wallet-perf-div-indicator-left-indicator-p">0,19 %</div>
								</div>
						</div>
						<div class="wallet-perf-div-indicator-right">
							<div class="wallet-perf-div-indicator-right-title">GAIN TOTAL</div>
								<div class="wallet-perf-div-indicator-div">
									<div class="wallet-perf-div-indicator-right-indicator-e">94,86 €</div>
									<div class="wallet-perf-div-indicator-right-indicator-p">16,76 %</div>
								</div>
						</div>	
					</div>
				
			</div>
		</div>
	</div>
	
	<div class="core-stock">
		<div class="stock-div-title">
			<div class="div-title-id">
				<div class="div-title-code">CODE</div>
				<div class="div-title-nom">NOM</div>
			</div>
			<div class="div-title-prix">PRIX</div>
			<div class="div-title-quantite">QUANTITÉ</div>
			<div class="div-title-gainJour">GAIN DU JOUR</div>
			<div class="div-title-valeur">VALEUR</div>
		</div>
	</div>
</div>
{% endblock %}